@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7eaa92;
  --secondary: #caddc3;
  --accent: #f7e987;
  --bg-color: #f4f4f4;
  --text-color: #445069;

  background-color: var(--bg-color);
  color: var(--text-color);
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
