@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #56a352;
  --secondary: #d7ead6;
  --accent: #5b8e40;
  --bg-color: #fcfaf2;
  --text-color: #211d07;

  background-color: var(--bg-color);
  color: var(--text-color);
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
